<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Loser</title>
</head>

<body>
    You lose! Here is the word: {{#answer}}{{.}} {{/answer}} Start a new game by clicking <a href="/">THIS LINK</a>
</body>

</html>